:root{
    --primary: rgb(100, 100, 170);
    --background: rgb(18, 18, 168);
    --jeopardy: #0077b6;
    --light: seashell;
  }

html,
body {
    background-color: seashell;
    height: 100vh;
 
}

.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0px 0px 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

#results-panel {
  margin-bottom: 10rem;
  margin-top: 7rem;
}

.side-bar {
  position: fixed;
  margin-top: 7rem;
}

.dive-bar {
  background-color: var(--jeopardy);
  height: 10rem;
  bottom:0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: auto;
}

.fly-bar {
  background-color: var(--jeopardy);
  height: 6rem;
  top:0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: auto;
}
.fly-bar h2{
  text-align: center;
  color:var(--light);
  font-weight: bold;
}
.jeopardy-question {
  font-size: 2.5ch;
  color: var(--light);
}

.dive-bar::-webkit-scrollbar {
  width: 1em;
}
 
.dive-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dive-bar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}








@media screen and (max-width:750px) {
  .side-bar {
    position: relative;
  }

  /*============================== Hamburger Menu ============================*/
  /* Style Hamburger*/
  .bar1, .bar3 {
    display: inline-block;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar2{
    cursor: pointer;
    vertical-align: middle;
    width: 35px;
    height: 5px;
    background-color: #333;
    font-size: 1.2em;
    margin-top: -8px;
    margin-bottom: 0px;
    transition: 0.4s;
  }

  /*========= Mobile Menu ==================*/
  .menu-hidden{
    display: none;
  }
}